@import "tailwindcss";
.Card-width {
  width: 100%;
}
.Form-width {
  width: 503px;
}
.Input-height {
  height: 2.5rem;
}
.Cancel-button {
  color: #1677ff;
  border-color: #1677ff;
  height: 48px;
  width: 122px;
}
.Save-button {
  height: 48px;
  width: 188px;
  background-color: #0071ce;
}
.Create-button , .CancelModal{
  height: 48px;
}
.CreateModal {
  width: 284px;
  background-color: #0071ce;
}
.CancelModal{
  width: 8.3rem;
}
:where(.css-dev-only-do-not-override-16dneet).ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required::before {
  display: none !important;
}
.required {
  color: "red" !important;
  padding: "4px";
}
.ant-select-item-option-state {
  display: none !important;
}
.UploadModal {
  width: 30% !important;
}
.InputModalWidth {
  width: 480px!important;
}
.btnGroup {
  display: flex;
  gap: 0.5rem;
}
 .ButtonsPad{
    justify-content:end ;
    margin-right:-0.4rem
 }
@media (max-width: 1366px) {
  .ButtonsPad {
    display: flex;
    justify-content: end;
    margin-right: 3rem;
  }
  .Form-width {
    width: 26.5rem;
  }
}
